 * @ Author: Yohei Ohto
 * @ Create Time: 2025-11-27 15:14:31
 * @ Modified time: 2025-11-27 15:15:00
 * @ Description: search PubMed abstracts using Elasticsearch and find articles containing a drugbank compound name.

# parse drugbank xml

In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

In [5]:
raw_db_path = "/workspace/1-project/2-tox_pred/2-patent_date_split/workspace/data/drugbank/raw/full database.xml.tar"
defreezed_db_path = "/workspace/1-project/2-tox_pred/2-patent_date_split/workspace/data/drugbank/drugbank_zip/full database.xml"

import tarfile
with tarfile.open(raw_db_path, 'w:gz') as tar:
  tar.add(defreezed_db_path)

In [12]:
tree = ET.parse(defreezed_db_path)
root = tree.getroot()
del tree

# ID
drugbank_id = []
ap = drugbank_id.append
for v in root:
    ele = v.find('{http://www.drugbank.ca}drugbank-id')
    if ele is None:
        ap('')
    else:
        ap(ele.text)

# Drugname
drugbank_names = []
ap = drugbank_names.append
for v in root:
    ele = v.find('{http://www.drugbank.ca}name')
    if ele is None:
        ap('')
    else:
        ap(ele.text)

df = pd.DataFrame([drugbank_id, drugbank_names],index=["ID","name"]).T

In [13]:
df.head()

        ID                 name
0  DB00001            Lepirudin
1  DB00002            Cetuximab
2  DB00003         Dornase alfa
3  DB00004  Denileukin diftitox
4  DB00005           Etanercept